:root{
    --white-color: #fff;
    --grey-color: #48555B;
    --blue-color: #00A4E5;
}
body {
    font-family: "Open Sans", sans-serif;
}
button {
    transition: background-color 0.6s, color 0.6s, transform 0.5s;
}
button:hover {
    transform: scale(110%);
    color: var(--blue-color);
    background-color: var(--grey-color);
}
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Bebas Neue", sans-serif; */
/* Header */
.header {
    background: url('../img/bg_header.png') no-repeat center;
    min-height: 766px;
    background-size: cover;
}
.container {
    max-width: 940px;
    margin: 0 auto;
}
.header__logo_white {
    margin-top: 41px;
    margin-bottom: 304px;
}
.header__inner {
    text-align: center;
    color: var(--white-color);
}
.header__title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.06em;
    margin-bottom: -5px;
    
}
.header__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    
}
.title_text {
    font-size: 16px;
    margin-bottom: 219px;
}
.bottom_text {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.35em;
}
/* Menu */
.nav {
    padding: 26px 0;
    margin-bottom: 55px;
}
.nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo_black {
}
.nav__menu {
    min-width: 43.5%;
    display: flex;
    justify-content: space-between;
}
.nav__menu a:hover {
    color: var(--blue-color);
}
.nav__menu-item {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    color: var(--grey-color);
}
/* about */
.about {
    margin-bottom: 119px;
}
.about__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.about__head-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    margin-bottom: 10px;
    color: var(--grey-color);
}
.about__head-line {
    width: 50px;
    height: 2px;
    background-color: var(--blue-color);
    margin-bottom: 53px;
}
.about__inner {
    display: flex;
    justify-content: space-between;
}
.about__info {
    max-width: 43%;
    display: flex;
    flex-direction: column;
}
.about__info-title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
    color: var(--grey-color);
}
.about__info-title span {
    color: var(--blue-color);
}
.about__info-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: var(--grey-color);
}
.about__grid {
    margin-top: 30px;
    min-width: 49%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.about__grid-item {
    max-width: 140px;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.3);
    background: #d8d8d8;
}
.about__grid-item:nth-child(1) {
    background: url(../img/card1.png) no-repeat center;
    background-size: cover;
}
.about__grid-item:nth-child(2) {
    background: url(../img/card2.png) no-repeat center;
    background-size: cover;
}
.about__grid-item:nth-child(3) {
    background: url(../img/card3.png) no-repeat center;
    background-size: cover;
}
.about__grid-item_title {
    padding: 15px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
    line-height: 121%;
    letter-spacing: 0.01em;
    color: var(--white-color);
}
/* Services */
.services {
}
.services__inner {
    font-family: "Open Sans", sans-serif;
    color: var(--grey-color);
}
.services__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
}
.services__head-title__block {
    min-width: 34%;
}
.services__head-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    margin-bottom: 12px;
}
.services__head-line {
    width: 50px;
    height: 2px;
    background-color: var(--blue-color);
}
.services__head-text {
    max-width: 43%;
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.02em;
}
.services__head-button {
    text-transform: uppercase;
    padding: 12px 29px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white-color);
    background-color: var(--blue-color);
}
.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}
.services__grid-card {
    padding: 36px 22px;
}
.services__grid-card__logo {
    margin-bottom: 25px;
    
}
.services__grid-card__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    margin-bottom: 13px;
}
.services__grid-card__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    margin-left: 2px;
}
.get {
    background: url(../img/get__bg.png) no-repeat center #fff;
    background-size: cover;
    padding: 238px 0 232px;
}
.get__title {
    max-width: 350px;
    margin: 0 auto 35px;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--grey-color);
}
.get__btn {
    display: block;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 10px 25px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
}
.newsletter {
    background-color: #171819;
    padding: 30px 0;
}
.newsletter__flex {
    display: flex;
    align-items: center;
}
.newsletter__title {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white-color);
    margin: 0 7.5% 0 13.5%;
}
.newsletter__block {
    display: flex;
}
.newsletter__form {
}
.form__item_mail {
    border: 1px solid #979797;
    width: 250px;
    height: 40px;
    background-color: var(--white-color);
    padding-left: 14px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
}
.newsletter__btn {
    display: block;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 10px 48px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
}
.footer {
    background-color: #141a20;
    color: var(--white-color);
    padding: 41px 0 0px;
}
.footer__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.footer__company {
    width: 27%;
    margin-right: 57px;
}
.footer__company-title {
    margin-bottom: 19px;
}
.footer_title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
}
.footer__company-logo {
    margin-bottom: 15px;
}
.footer__company-text {
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.08em;
}
.footer__links {
    width: 27%;
    display: flex;
    justify-content: space-between;
    margin-right: 55px;
}
.footer__links li {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.08em;
}
.footer__links_block-title {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.footer__links-title {
    margin-bottom: 10px;
}
.footer__links-col_1 {

}
.footer__links-col_2 {
    width: 30%;
    margin: 26px 0 0 4px;
}
.footer__links-col_3 {
    width: 21%;
    margin: 26px 0 0 20px;
}
.footer__contacts {
    width: 17%;
    line-height: 104%;
    letter-spacing: 0.06em;
}
.footer__contacts-title {
    font-weight: 400;
    font-size: 11px;
    margin-bottom: 13px;
}
.footer__contact_address {
    font-weight: 400;
    font-size: 11px;
    max-width: 110px;
    margin-bottom: -2px;
}
.footer__contact_name {
    font-weight: 400;
    font-size: 11px;
    margin-bottom: 15px;
}
.footer__contact_number {
    font-weight: 400;
    font-size: 11px;
    margin-bottom: 15px;
}
.footer__contact_mail {
    font-weight: 400;
    font-size: 11px;
}
.footer__socials {
    width: 14%;
    padding: 30px 20px;
}
.footer__socials-item {
    margin-right: 18px;
}
.footer__socials-item:last-child {
    margin-right: 0;
}
.footer__boot {
    background-color: #171819;
    text-align: center;
    padding: 12px 0 22px;
}
.footer__boot-text {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    color: var(--white-color);
    margin-left: 11px;
}




