:root{
    --white-color: #fff;
    --grey-color: #48555B;
    --blue-color: #00A4E5;
}
body {
    font-family: "Open Sans", sans-serif;
}
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Bebas Neue", sans-serif; */
/* Header */
.header {
    background: url('/img/bg_header.png') no-repeat center;
    min-height: 766px;
    background-size: cover;
}
.container {
    max-width: 940px;
    margin: 0 auto;
}
.header__logo_white {
    margin-top: 41px;
    margin-bottom: 304px;
}
.header__inner {
    text-align: center;
    color: var(--white-color);
}
.header__title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.06em;
    margin-bottom: -5px;
    
}
.header__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    
}
.title_text {
    font-size: 16px;
    margin-bottom: 219px;
}
.bottom_text {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.35em;
}
/* Menu */
.nav {
    padding: 26px 0;
    margin-bottom: 55px;
}
.nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo_black {
}
.nav__menu {
    min-width: 43.5%;
    display: flex;
    justify-content: space-between;
}
.nav__menu-item {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    color: var(--grey-color);
}
/* about */
.about {
    margin-bottom: 118px;
}
.about__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.about__head-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    margin-bottom: 10px;
}
.about__head-line {
    width: 50px;
    height: 2px;
    background-color: var(--blue-color);
    margin-bottom: 53px;
}
.about__inner {
    display: flex;
    justify-content: space-between;
}
.about__info {
    max-width: 43%;
    display: flex;
    flex-direction: column;
}
.about__info-title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
}
.about__info-title span {
    color: var(--blue-color);
}
.about__info-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: var(--grey-color);
}
.about__grid {
    margin-top: 30px;
    min-width: 49%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.about__grid-item {
    max-width: 140px;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.3);
    background: #d8d8d8;
}
.about__grid-item:nth-child(1) {
    background: url(../img/card1.png) no-repeat center;
    background-size: cover;
}
.about__grid-item:nth-child(2) {
    background: url(../img/card2.png) no-repeat center;
    background-size: cover;
}
.about__grid-item:nth-child(3) {
    background: url(../img/card3.png) no-repeat center;
    background-size: cover;
}
.about__grid-item_title {
    padding: 15px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
    line-height: 121%;
    letter-spacing: 0.01em;
    color: var(--white-color);
}



